.contact-link {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  text-align: center;
  font-size: 12px;
}

.index-head {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  text-align: center;
  font-weight: $base-font-weight;
  font-size: 42px;
  font-weight: bold;
}
